---
layout: default
title: "Home"
---

<div class="twocol">
  <div class="leftcol">
  	<h3 style="text-align: center; padding-top: 2px; padding-bottom: 10px">Joseph Schindler's Physics Homepage</h3>
    <p>Thanks for visiting!</p>
    <p>Quick links:</p>
    <ul>
    	<li> <a href="vis/penrose">Penrose Diagrams</a>
  		<li> <a href="teach/phys133ucsc">UCSC PHYS 133</a>
    </ul>
    <p>What's new:</p>
    <ul>
      <li> Some fun <a href="vis/chaos/#arts">Chaotic Illustrations</a>
      <li> New <a href="vis">Visualization</a> subsections
      <li> <a href="lit">"Favorite Reads"</a>  Reading List
    </ul>
    <p style="padding-top: 20px;">Contact: JosephC dot Schindler AT uab DOT cat</p>
  </div>
  <div class="rightcol">
    <div class="bio">
      <img width="300px" src="https://lh3.googleusercontent.com/pw/ACtC-3cNmPVjPJbBntvyBCct4gCsGLaOacJd6wQRK7zeZF_K2yl0IkX8XkvEWIQYNhnyCrWri9YG0WlYc3FOmDUo3lBrtmHsQoPiXXGc2EKnwYbNsxUCrVfTyPBFWeFCnLvv4e28CCOaw5smfNMP4vJchoss=w679-h657-no?authuser=0" alt="Photo.">
      <div class="aboutme">
        <p> <strong>About me: </strong>
          Joseph is a Postdoctoral Scholar in Physics at <a href="https://grupsderecerca.uab.cat/giq/" target="_blank" rel="noopener noreferrer">GiQ</a>. Previously a postdoc at <a href="http://scipp.ucsc.edu/" target="_blank" rel="noopener noreferrer">SCIPP</a> in UC Santa Cruz. He received his PhD in theoretical physics from UC Santa Cruz in 2019, and his MA/BA in experimental physics from Wesleyan University in 2013.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  {% include last-modified.html %}
  {% include hitcounter.html %}
</div>








