
.vispage {
  vertical-align: middle;
}

.tablediv {
  text-align: center;
}

.tablediv table, td {
  text-align: center;
  border: 1px solid black;
  margin: auto;
}

.visanchor {
  padding: 10px;
}

.visanchor img {
  margin-top: 10px;
}

.vistable td {
  width: 220px;
}

.diagram {
  display: inline-block;
  width: 400px;
  vertical-align: middle;
}

.diagram img {
  max-width: 100%;
  margin-top: 2px;
  margin-bottom: 20px;
}


.chaos-art {
  display: inline-block;
  width: 400px;
  vertical-align: middle;
}

.chaos-art img {
  max-width: 100%;
  margin-top: 2px;
  margin-bottom: 20px;
}
